<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>JG</h2>
            <h4>jarekg@test.com.pl</h4>
        </div>
        <img  src="assets/jg.jpg" alt="image">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/projects">Projects</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/notes">Notes</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/news">News</a>



    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/testlayout">
      <mat-icon>contact_phone</mat-icon>
      Test page
  </a>

</mat-nav-list>

