

table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

}

th.mat-header-cell {
    text-align: left;

}

.mat-column-id {
  max-width: 40px;
}

.mat-column-url {
  max-width: 350px;
}


.mat-column-description {
  max-width: 300px;
}

.mat-column-remarks {
  max-width: 100px;
}

.mat-column-createddate {
  max-width: 250px;
}

td , th {
  white-space: normal;
  word-wrap: break-word;

}

.example-fill-remaining-space {
  flex: 1 1 auto;
}
